.map .toon > circle{
    transition: all .15s;
}

.toonBuild .body { x: -12px; }

.toonBuild .body-down { y: -12px; }
.toonBuild .body-left { y: -76px; }
.toonBuild .body-right { y: -140px; }
.toonBuild .body-up { y: -204px; }

@keyframes toon-walking {
    from { x: -12px; }
    to { x: -204px; }
}

.toonBuild .body.walking {
    animation: toon-walking .8s steps(4, jump-none) infinite;
}